body{
    background-color: #31445c;
}
.jumbotron{
    margin-top: 20px;
}
hr{
    margin: inherit;
    padding: inherit;
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #31445c, #598AC7, #31445c);
    background-image: -moz-linear-gradient(left, #31445c, #598AC7, #31445c);
    background-image: -ms-linear-gradient(left, #31445c, #598AC7, #31445c);
    background-image: -o-linear-gradient(left, #31445c, #598AC7, #31445c);
}
h1{
    text-align: center;
}
h2, span{
    margin: inherit;
    padding: inherit;
    text-align: center;
}
.title{
    padding: 10px;
    color: #fff;
    background-image: -webkit-linear-gradient(left, #31445c, #598AC7, #31445c);
    background-image: -moz-linear-gradient(left, #31445c, #598AC7, #31445c);
    background-image: -ms-linear-gradient(left, #31445c, #598AC7, #31445c);
    background-image: -o-linear-gradient(left, #31445c, #598AC7, #31445c);
}